# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
.env

# Javascript / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/
build/
.DS_Store

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project Specific
backend/venv/
backend/.env
mlruns/
mlflow.db
celerybeat-schedule
postgres_data/
ollama_data/

# Testing
.pytest_cache/
.coverage
htmlcov/
*.log
